<div class="container-fluid d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="col-6" style="height: 50%; font-family: serif;">
        <a href="#" style="font-size: 50px; color: black;"><fa-icon
            [icon]="facebook"
          ></fa-icon></a>
        <h1 class="mt-2 h3">This localhost page can't be found</h1>
        <div class="mt-4 h5"> No web page was found for the address: http://localhost/5500 </div>
       
        <div class="mt-2 h5">http:/error 404</div>

    </div>


</div>